# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
.env/
.envrc

# IDEs
.vscode/
.idea/
*.swp

# Testes, cobertura e execução local
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
output/

# Distribuição
build/
dist/
*.egg-info/
.eggs/

# Cache
*_cache